{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Clash Royale</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/clash.jpeg') }}" alt="Clash royale" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Clash Royale</h5>
                    <p class="card-text">
                        <ol>
                            <li>Clash royale is a strategic card game where you use 8 cards to try an defeat your opponents</li>
                            <li>Clash royale was created march 2 2016</li>
                            <li>One of the most popular mobile games</li>
                            <li>cards range from common, rare, epic, legendary, and champion</li>
                        </ol>
                    </p>
                    <a href="https://www.supercell.com" class="btn btn-primary">Supercell</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/knight.jpeg') }}" alt="knighy" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Knight</h5>
                    <p class="card-text">
                        <ol>
                            <li>The knight was one of the first cards created and is a common and cost three elixir</li>
                            <li>In our opinion despite only being a common it is very useful.</li>
                            <li>the knight is a tank with lots of health , but not too much damage.</li>
                            <li>knight pairs well with skeletons</li>
                        </ol>
                    </p>
                    <a href="https://www.supercell.com" class="btn btn-primary">supercell</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/molt.jpeg') }}" alt="molt" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Molt</h5>
                    <p class="card-text">
                        <ol>
                            <li> Molt is one of the most famous and established clash royale players on youtube</li>
                            <li> Helped inspire us to create a clash royale website </li>
                            <li>Has over a 100 million views on youtube</li>
                            <li>Molt was a crucial aspect in getting clash royale popular and will forever be a clash royale legend.</li>
                        </ol>
                    </p>
                    <a href="https://www.supercell.com" class="btn btn-primary">supercell</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}