<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!-- This variable sets the name of the browser tab -->
{% set project = "Clash Royale Cards" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Building a new body with Bootstrap for table styling -->
    <div class="px-5 py-5 mx-auto">
        <table id="cards_table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Elixir Cost</th>
                    <th>Rarity</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Archer</td>
                    <td>Troop</td>
                    <td>3</td>
                    <td>Common</td>
                    <td>A pair of unarmored ranged attackers. They'll help you with ground and air unit attacks, but you're on your own with coloring your hair.</td>
                </tr>
                <tr>
                    <td>Balloon</td>
                    <td>Troop</td>
                    <td>5</td>
                    <td>Epic</td>
                    <td>As pretty as a bouquet of flowers but deadlier. Drops powerful bombs and when shot down, crashes dealing area damage.</td>
                </tr>
                <tr>
                    <td>Giant</td>
                    <td>Troop</td>
                    <td>5</td>
                    <td>Rare</td>
                    <td>Slow but durable, only attacks buildings. A real one-man wrecking crew!</td>
                </tr>
                <tr>
                    <td>Ice Spirit</td>
                    <td>Troop</td>
                    <td>1</td>
                    <td>Common</td>
                    <td>Spawns one lively little Ice Spirit to freeze a group of enemies. Stay frosty.</td>
                </tr>
                <tr>
                    <td>Miner</td>
                    <td>Troop</td>
                    <td>3</td>
                    <td>Legendary</td>
                    <td>The Miner can burrow his way underground and appear anywhere in the Arena. It's not magic, it's a shovel.</td>
                </tr>
                <tr>
                    <td>Sparky</td>
                    <td>Troop</td>
                    <td>6</td>
                    <td>Legendary</td>
                    <td>Slowly charges up, then unloads MASSIVE area damage. Overkill isn't in her vocabulary.</td>
                </tr>
                <tr>
                    <td>Witch</td>
                    <td>Troop</td>
                    <td>5</td>
                    <td>Epic</td>
                    <td>Summons skeletons, shoots destructo beams, has glowing pink eyes that unfortunately don't shoot lasers.</td>
                </tr>
                <tr>
                    <td>Lava Hound</td>
                    <td>Troop</td>
                    <td>7</td>
                    <td>Legendary</td>
                    <td>Slow but steadily flies towards buildings, tanking hits while dealing little damage — then explodes into Lava Pups!</td>
                </tr>
                <tr>
                    <td>Royal Giant</td>
                    <td>Troop</td>
                    <td>6</td>
                    <td>Common</td>
                    <td>Sights his massive cannon at enemy buildings, firing from a long distance for significant damage but slow reload.</td>
                </tr>
                <tr>
                    <td>Princess</td>
                    <td>Troop</td>
                    <td>3</td>
                    <td>Legendary</td>
                    <td>This stunning Princess shoots flaming arrows from long range. If you're feeling warm feelings towards her, it's probably because you're on fire.</td>
                </tr>
                <tr>
                    <td>Electro Wizard</td>
                    <td>Troop</td>
                    <td>4</td>
                    <td>Legendary</td>
                    <td>Lands with a POW, stuns nearby enemies and shoots lightning with both hands! What a show off.</td>
                </tr>
                <tr>
                    <td>Zap</td>
                    <td>Spell</td>
                    <td>2</td>
                    <td>Common</td>
                    <td>Zaps enemies, stopping them in their tracks and dealing a small bit of damage.</td>
                </tr>
                <tr>
                    <td>Fireball</td>
                    <td>Spell</td>
                    <td>4</td>
                    <td>Rare</td>
                    <td>An explosive fireball that deals major area damage to ground and air units alike.</td>
                </tr>
                <tr>
                    <td>Barbarians</td>
                    <td>Troop</td>
                    <td>5</td>
                    <td>Common</td>
                    <td>A horde of melee attackers with mean mustaches and even meaner tempers.</td>
                </tr>
                <tr>
                    <td>Heal Spirit</td>
                    <td>Troop</td>
                    <td>1</td>
                    <td>Rare</td>
                    <td>A joyful spirit that heals nearby troops when it jumps into the fray and sacrifices itself with a smile.</td>
                </tr>
                <tr>
                    <td>Goblin Barrel</td>
                    <td>Spell</td>
                    <td>3</td>
                    <td>Epic</td>
                    <td>Spawns three Goblins anywhere in the Arena. It's going to be a thrilling ride, but might result in a few twisted ankles.</td>
                </tr>
                <tr>
                    <td>P.E.K.K.A</td>
                    <td>Troop</td>
                    <td>7</td>
                    <td>Epic</td>
                    <td>A heavily armored, slow melee fighter. Swings from the hip but packs a huge punch.</td>
                </tr>
            </tbody>
        </table>
        <script>
            $("#cards_table").DataTable();
        </script>
    </div>
{% endblock %}

<!-- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
