<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!-- This variable sets the name of the browser tab -->
{% set project = "Clash Royale Cards" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Building a new body with Bootstrap for table styling -->
    <div class="px-5 py-5 mx-auto">
        <table id="cards_table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Elixir Cost</th>
                    <th>Rarity</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Archer</td>
                    <td>Troop</td>
                    <td>3</td>
                    <td>Common</td>
                    <td>A pair of unarmored ranged attackers. They'll help you with ground and air unit attacks, but you're on your own with coloring your hair.</td>
                </tr>
                <tr>
                    <td>Balloon</td>
                    <td>Troop</td>
                    <td>5</td>
                    <td>Epic</td>
                    <td>As pretty as a bouquet of flowers but deadlier. Drops powerful bombs and when shot down, crashes dealing area damage.</td>
                </tr>
                <tr>
                    <td>Giant</td>
                    <td>Troop</td>
                    <td>5</td>
                    <td>Rare</td>
                    <td>Slow but durable, only attacks buildings. A real one-man wrecking crew!</td>
                </tr>
                <tr>
                    <td>Ice Spirit</td>
                    <td>Troop</td>
                    <td>1</td>
                    <td>Common</td>
                    <td>Spawns one lively little Ice Spirit to freeze a group of enemies. Stay frosty.</td>
                </tr>
                <tr>
                    <td>Miner</td>
                    <td>Troop</td>
                    <td>3</td>
                    <td>Legendary</td>
                    <td>The Miner can burrow his way underground and appear anywhere in the Arena. It's not magic, it's a shovel.</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <script>
            $("#cards_table").DataTable();
        </script>
    </div>
{% endblock %}

<!-- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
